.content__feynman_feynman-head_pod-head-text{
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
}
   