.content__feynman_feynman-head_head-text{
    font-weight: 600;
    font-size: 120px;
    line-height: 115%;
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
  }