.header {
    position: relative;
    background-color: #f2f2f2;
    z-index: -2;  
    height: 10px;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    overflow: hidden;
    
    /* выше установили ограничения для секции */
  }
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  .header__square-pic {
    height: 568px;
    width: 568px;
  }